/*
Blue - #00274c
Yellow - #FECE2F

Nav Grey - #525F6C

*/

* {
    box-sizing: border-box;
    line-height: 30px;
}

#DesktopLogoDiv {
    max-width: 255px;
}

.content-container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0px;
}


/* Nav Default Overrides */
#MPOuterHeader {
    background-color: #525F6C;
}

#MPContentArea {
padding-top: 0px;
}

#MPheader>div.row {
    padding: 0px;
}

#MPOuterMost.full #HEADER {
    margin-bottom: 7px;
}

#NAV {
    background-color: #525F6C;
    border-width: 0px;
}

#MPButtonBar .navbar.navbar-default {
    border-width: 0px;
    background-color: #525F6C;
    border-color: #525F6C;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

#MainCopy_ContentWrapper {
    margin-top: 0px;
}

#MainCopy_ContentWrapper > .row.row-wide.clearfix:first-child {
max-width: none 
}
#MainCopy_ContentWrapper > .row.row-wide.clearfix:first-child > .col-md-12.section1 {
    padding: 0px;
}

@media(max-width: 414px) {
    #MPContentArea {
        padding: 0px;
    }
    
    #MainCopy_ContentWrapper > .row.row-wide.clearfix.not(:first-of-type) {
        padding: 0px 10px;
    }
}

/* Flex */
.flex {
    display: flex;
}


.flex-column {
    display: flex; 
    flex-direction: column;
}

/*Fonts*/
.text__header {
    border-bottom: 2px solid #FECE2F;
    color: #00274c;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text__label {
    color: rgba(103,100,101, 0.7);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.text__value {
    font-size: 16px;
    margin-bottom: 5px;
}


/* Text Block */
.text-block {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

.text-block__label-value {
    margin-bottom: 50px;
    width: 100%;
}

.text-block__label-value .fa-envelope {
    font-size: 12px;
}

/*Buttons*/
.button--blue {
    background-color: #00274c;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
}

.button--blue:hover, 
.button--blue:focus{
    background-color: rgba(0, 39, 76, 0.8);
    color: white;
    outline: 0px;
    text-decoration: none;
}

.button--yellow {
    background-color: #FECE2F;
    border-radius: 5px;
    color: black;
    padding: 5px 15px;
}

.button--yellow:hover, 
.button--yellow:focus{
    background-color: rgba(254, 206, 47, 0.8);
    color: white;
    outline: 0px;
    text-decoration: none;
}

/*Hero*/
.hero {
    background-color: #00274c;
    color: white;
    display: flex;
    height: 230px;
    justify-content: center;
    width: 100%;
}

.hero__container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    max-width: 1170px;
    position: relative;
    width: 100%;
}

.hero__text {
    font-size: 50px;
    font-weight: bold;
    line-height: 50px;
    margin-left: 100px;
}

.hero__subtext {
    font-size: 35px;
    line-height: 35px;
}

.hero__icon {
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    font-size: 207px;
}


@media(max-width:767px) {
    .hero__container {
        justify-content: center;
    }
    
    .hero__text {
        margin-left: 0px;
        text-align: center;
    }
    
    .hero__icon {
        left: 0px;
    }
}

/*Promo Group*/

.promo-group {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
    width: 100%;
}

.promo {
    align-items: flex-start;
    border: 2px solid #FECE2F;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin: 0px 10px;
    padding: 40px 20px 20px 20px;
    position: relative;
    width: 100%;
}


.promo__title {
    background-color: white;
    font-size: 28px;
    padding: 0px 10px;
    position: absolute; 
    top: -20px;
}

.promo__body {
    margin-bottom: 15px;
}

/*Image Card*/
.image-card {
    margin: 30px 0px;
}

.image-card__title {
    font-size: 28px;
    margin-bottom: 10px;
}

.image-card__container {
    display: flex;
    height: 930px;
}

.image-card__col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.image-card__iframe {
    margin-top: -30px;
}

.image-card__col:first-of-type {
    margin-right: 20px;
}

.image-card__col:last-of-type {
    margin-left: 20px;
}

.image-card__image {
    background-image: url(https://higherlogicdownload.s3.amazonaws.com/UMICH/deed1317-586e-4033-84e1-85f4a3c0e6ed/UploadedFiles/2NuZN88wQsOKwISUl8pK_event.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

@media (max-width: 1025px) {
    .image-card__container {
        flex-direction: column
    }
    
    .image-card__col {
        margin: 0px;
        width: 100%;
    }
    
    .image-card__iframe {
        margin-top: 0px
    }
    
    .image-card__image {
        max-height: 350px;
    }
}


/*Social Links*/
.social {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.social__link:hover > .social__icon{
   color: rgba(0, 39, 76, 0.8);
}

.social__icon {
    color: #00274c;
    font-size: 30px;
    margin: 20px;
}

@media (min-width: 1025px) {
    
   .text__block {
        display: flex;
        flex-direction: row;
    }

    .text-block__label-value {
        margin-bottom: 50px;
        width: 100%;
    }

    
    .promo-group {
        flex-wrap: nowrap;
    }
    
    .promo {
        width: 33%;
    }
    
    .promo:first-child {
        margin-left: 0px;
    }
    .promo:last-child {
        margin-right: 0px;
    }
}



/*===================Page Specific===================*/
.hero--homepage {
    background: url(https://higherlogicdownload.s3.amazonaws.com/UMICH/deed1317-586e-4033-84e1-85f4a3c0e6ed/UploadedFiles/ucS8TGB8Q4KOyQjCCZci_hero_20190126.jpg);
    background-position: 100% 27%;
    background-size: cover;
    height: 400px;
}

.hero--homepage > .hero__container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero--homepage > .hero__container > .hero__text {
    margin-bottom: 10px;
    margin-left: 0px;
}

.hero--homepage > .hero__container > .button--yellow {
    font-size: 16px;
    margin-top: 20px;
}
